h1 {
    border: 5px solid red;
    padding: 10%;
    margin: 5%; 
}

div {
  background-color: aqua;
  padding: 10px;
}

#een {
  background-color: red;
  width: 40%;
}

#twee {
  background-color: blueviolet;
  width: 40%;
}

.tue {
  border: 5px dotted orange
}

.container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}