.container {
  justify-content: center;
  justify-content: center;
  margin-left: 20px;
  margin-right: auto;
  height: 50px;
  width: auto;
  border: 1px solid #ddd;
  align-items: center;
  margin-top: 5%;
  margin-left: 10%;
  display: flex;
  gap: 10px;
}

#one {
  background-color: blue;
  color: white;
}

#two {
  background-color: blueviolet;
  color: #fff;
}

p {
  width: auto;
}

.bodyText {
  margin-left: 10%;

}

.flex-link {
  text-decoration: none;
  color: blue;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: white;
  padding: 5px;
}

.top {
  color: #000;
}