.container {
  justify-content: center;
  margin-left: 20px;
  margin-right: auto;
  height: 50px;
  width: auto;
  border: 1px solid #ddd;
  align-items: center;
  margin-top: 5%;
  margin-left: 10%;
  display: flex;
  gap: 10px;
}
nav {
  max-width: 75%;
  padding-left: 10%;
}

img {
  align-content: end;
}

p {
  width: auto;
}

section {
  margin-left: 10%;

}

.flex-link {
  text-decoration: none;
  color: blue;
  font-weight: bold;
}

a {
  margin: 5px;
  text-decoration:solid;
  color: grey;
  padding: 5px;
}

.top {
  color: #000;
}