.container {
  justify-content: center;
  justify-content: center;
  margin: 20px;
  height: 50px;
  width: 500px;
  border: 1px solid #ddd;
  align-items: center;
  margin-top: 5%;
  margin-left: 10%;
  display: flex;
  gap: 10px;
}

#one {
  background-color: blue;
  color: white;
}

#two {
  background-color: blueviolet;
  color: #fff;
}

p {
  width: 250px;
}

.bodyText {
  margin-left: 10%;

}

.flex-link {
  text-decoration: none;
  color: blue;
  font-weight: bold;
}

